body {
    --indentation-guide-width: 1px;
}

div.markdown-source-view a.cm-underline,
div.markdown-reading-view a.internal-link,
div.markdown-reading-view a.external-link
{
    --link-external-decoration: underline;
    --link-decoration: none;
    --link-weight: bold;
    font-size: 0.95em;
}
